<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FestiDex - Artistes</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
    <body>
        <section>
            <div class="container">
                <nav>
                    <div><h1 class="logo">FestiDex</h1></div>
                    <div class="search">
                        <input type="search" name="search-bar" placeholder="Rechercher un artiste,un concert...">
                    </div>
                    <div>
                        <ul class="nav-links">
                            <li><a href="index.html" class="color">Accueil</a></li>
                            <li><a href="Artistes.html" class="color">Artistes</a></li>
                            <li><a href="Concerts à venir.html" class="color">Concerts</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </section>
        <section>
            <div class="container">
                <div>
                    <h2 class="color">Artistes</h2>
                        <li class="test">Découvrez tous les artistes qui se produisent près de chez vous</li>
                </div>
                <div class="filter-select">
                        <select id="tri-artistes" name="tri-artistes">
                            <option value="tous" selected>Tous les artistes</option>
                            <option value="alpha">Ordre alphabétique</option>
                        </select>
                </div>
            </div>
            <div class="container">
                <div class="stylesmusicaux">
                    <span class="filter-icon">☰</span>
                    <button>Tous</button>
                    <button>Rock</button>
                    <button>Pop</button>
                    <button>Rap</button>
                    <button>Électro</button>
                    <button>Metal</button>
                    <button>Techno</button>
                    <button>Hip-Hop</button>
                </div>
            </div>
        </section>
    </body>
    <footer class="footer">
    <li>FestiDex © 2025 - Votre guide des concerts à venir 🔥</li>
</footer>
</html>