<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur - FestiDex</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <section>
        <div class="container">
            <nav class="navbar">
                <div><h1 class="logo">FestiDex</h1></div>
                <div>
                    <ul class="nav-links">
                        <li><a href="/" class="color">Accueil</a></li>
                        <li><a href="/artists" class="color">Artistes</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="error-container">
                <h1 class="error-title">Oops!</h1>
                <p class="error-message">{{if .Error}}{{.Error}}{{else}}Une erreur s'est produite{{end}}</p>
                <a href="/" class="btn-home">Retour à l'accueil</a>
            </div>
        </div>
    </section>
</body>
<footer class="footer">
    <li>FestiDex © 2025 - Votre guide des concerts à venir</li>
</footer>
</html>
