<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FestiDex - Accueil</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <section>
        <div class="container">
            <nav>
                <div><h1 class="logo">FestiDex</h1></div>
                <div class="search">
                    <input type="search" name="search-bar" placeholder="Rechercher un artiste,un concert...">
                </div>
                <div>
                    <ul class="nav-links">
                        <li><a href="index.html" class="color">Accueil</a></li>
                        <li><a href="Artistes.html" class="color">Artistes</a></li>
                        <li><a href="Concerts à venir.html" class="color">Concerts</a></li>
                    </ul>
                </div> 
            </nav>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="hero-section">
                <div class="bordures">
                    <h1>FestiDex</h1>
                    <p class="bordures2">Découvrez en un coup d'œil tous les concerts à venir près de chez vous.
    FestiDex rassemble les dates, lieux et artistes pour vous aider à ne rien manquer des meilleurs événements musicaux.
                        Que vous soyez fan de rap, d’électro, de pop ou de rock, retrouvez facilement les prochains shows et planifiez vos sorties en quelques clics.
                    </p>
                </div>
                <div class="content">                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="marquee">
            <ul class="marquee-list">
                <li>Découvrez de nombreux concerts près de chez vous 🔥</li>
                <li>Découvrez de nombreux concerts près de chez vous 🔥</li>
                <li>Découvrez de nombreux concerts près de chez vous 🔥</li>
                <li>Découvrez de nombreux concerts près de chez vous 🔥</li>
                <li>Découvrez de nombreux concerts près de chez vous 🔥</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="gallery">
                <h1>Sorties récentes
                </h1>
                <p>
                    découvrez les concerts les plus prometteurs dès maintenant ..
                </p>
                <div class="grid">
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                    <div>neuil</div>
                </div>
            </div>
        </div>
    </section>
</body>
<footer class="footer">
    <li>FestiDex © 2025 - Votre guide des concerts à venir 🔥</li>
</footer>
</html>