* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html { 
background-color: #0F172A;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

nav {
    background-color: #1e2749;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
}

.nav-links > li {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    list-style-type: none;
    float: left;
    
}
.nav-links li a {
    display: block;
    text-align: center;
    padding: 16px 2px;
    font-size: 18px;
}

.color {
    color :#fff;
    margin-top: 20px    ;
    font-size: 26px;
}

.search {
    background-color: oklch(25.7% 0.09 281.288);
    text-align: center;
    width: 400px;
}

.search input {
    padding: 15px;
    font-size: 18px;
    border: 2px solid oklch(25.7% 0.09 281.288);
    border-radius: 50px;
    width: 120%;
}


.hero-section {
    background-color: oklch(25.7% 0.09 281.288);
    color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
}

.hero-section div {
    width: calc(1/2*100%);
    padding-right: 20px;
    font-family: lato, sans-serif
}

.logo {
    color: oklch(54.6% 0.245 262.881);
    font-family: Inter, sans-serif;
    font-size: 28px; 
    padding : 10%;  
}

.content {
    background-image: url("/src/assets/img/testimg.jpg  ");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.marquee {
    width: 100%;
    background-color: oldlace;
    color: #333;
    padding: 20px 0;  
    overflow: hidden;
    margin: 50px 0px;
}

.marquee-list {
    display: flex;
  animation: marquee 10s linear infinite;
  font-size: 24px;
  white-space: nowrap;
}

.marquee-list li {
    margin-right: 50px;
    font-weight: bold;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    padding-top: 45px;
}

.gallery{
    color: white;
    margin: 50px 0px;
}

.gallery h1{
    font-size: 50px;
    margin-bottom: px;
}

.gallery h1, .gallery p{
    text-align: center;
}

footer {
    background-color: oklch(27.9% 0.041 260.031);
    color: #fff;
    width: 100%;
    height: 30vh;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.bordures {
    border: 2px solid white;
    border-radius: 10px;
    padding: 0px;
    height:100%;
    text-align: left;
    background-color: #1e2749;

}

.bordures2{    
    padding-top: 15px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.bordures h1{
    margin-left: 15px;
    margin-top: 15px;
}

.test{
    color:gray;
    font-family: inter, sans-serif;
    margin-top: 5px;
}

.filter-select select{
    height: 40px;
    width: 200px;
    border-radius: 100px;
}   
.filter-select {
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-left: 80%;
}    

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    height: 100px;
}

.footer li{
    margin: 5px;
    color: grey;
}


.stylesmusicaux{
    margin-top: 20px;
    border-radius: 50px;
}
.stylesmusicaux button{
    display:inline-flex;
    justify-content: space-between;
    margin-left: 8px;

}
.filter-icon{
    color: #fff;
}